In [68]:
%%timeit
import pandas as pd
dt = pd.read_csv('C:/Users/fedor/milk_promo_sales.csv')
df = dt.sort_values(by=['store_id','period_id'])
df['n_promo'] = df.period_id.diff().ne(1).cumsum()
gr_by_promo = df.groupby('n_promo')
df['duration'] = gr_by_promo.cumcount()
df['sale_total'] = gr_by_promo['sales_volume'].transform('sum')
df['length_promo'] = gr_by_promo['store_id'].transform('count')

897 ms ± 3.59 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [65]:
df

,store_id,period_id,sales_volume,n_promo,duration,sale_total,length_promo
724224,4168621,191,2.2500,1,0,86.3500,16
216520,4168621,192,6.3500,1,1,86.3500,16
175105,4168621,193,7.0500,1,2,86.3500,16
699084,4168621,194,2.5000,1,3,86.3500,16
780957,4168621,195,1.7000,1,4,86.3500,16
...,...,...,...,...,...,...,...
512944,38126926,241,3.9500,140969,0,3.9500,1
832513,38126935,240,0.9500,140970,0,0.9500,1
417892,38126935,242,4.6500,140971,0,4.6500,1
354468,38126938,241,5.1000,140972,0,8.3765,2
604276,38126938,242,3.2765,140972,1,8.3765,2

In [61]:
#median length of a promo_period
df.groupby('n_promo')['duration'].count().median()

3.0

In [67]:
#median for each store
slice_df = df[(df['duration']==0)]
med_promo_store = slice_df.groupby('store_id')['length_promo'].median()
med_promo_store

store_id
4168621      5.0
4168624     52.0
4168636      2.5
4168639      7.0
4168645     25.0
            ...
38126899     1.0
38126908     2.0
38126926     1.0
38126935     1.0
38126938     2.0
Name: length_promo, Length: 23318, dtype: float64